.login-page {
  background: #0b0f14;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: #111827;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form h2 {
  color: #38bdf8;
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: #0b0f14;
  color: #e5e7eb;
}

.login-form input::placeholder {
  color: #9ca3af;
}
